<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    {% block head %}
    <title>{% block title %}{% endblock %} - Flask HackerNews</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer>
      <a class="support-ukraine-link" href="https://u24.gov.ua/"> SUPPORT UKRAINE 🇺🇦 </a>
    </footer>
  </body>
  <script type="text/javascript">
    const FONT_SCALE_SETTINGS_FIELD = 'FONT_SCALE';

    function getCurrentFontScale() {
      const fontScale = window.localStorage.getItem(FONT_SCALE_SETTINGS_FIELD) || 1;
      return fontScale;
    }

    function setFontScale(newFontScale) {
      document.documentElement.style.setProperty('--font-scale', newFontScale);
      window.localStorage.setItem(FONT_SCALE_SETTINGS_FIELD, newFontScale);
    }

    const fontScale = getCurrentFontScale();
    document.documentElement.style.setProperty('--font-scale', fontScale);
  </script>
  {% block scripts %}{% endblock %}
</html>
