<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>News</title>
  </head>
  <body>
    {% for item in news %}
    <div class="item">
      <h2 class="item-title">
        <a class="title-link" href="{{ item.url }}">{{ loop.index }}.{{ item.title }} <span class="short-link">({{ item.url|short_link }})</span></a>
      </h2>
      <div class="item-info">
        <span class="item-points">{{ item.points }} point{{ item.points|pluralize }}</span>
        <span class="user">by <a href="https://news.ycombinator.com/user?id={{ item.user }}">{{ item.user }}</a> {{ item.time_ago }}</span>
        <a class="comments-link" href="/{{ item.id }}"><span class="comments-count">{{ item.comments_count }}</span> comment{{ item.comments_count|pluralize }}</a>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
